In [3]:
def max_of_three(a, b, c):

  if a >= b and a >= c:
    return a
  elif b >= a and b >= c:
    return b
  else:
    return c

num1 = 10
num2 = 5
num3 = 20

maximum = max_of_three(num1, num2, num3)
print("The maximum of", num1, ",", num2, ", and", num3, "is:", maximum)

The maximum of 10 , 5 , and 20 is: 20

In [9]:
def sum_list(numbers):
    return sum(numbers)

sample_list = [8, 2, 3, 0, 7]
result = sum_list(sample_list)
print(f"The sum of the numbers in the list is: {result}")

The sum of the numbers in the list is: 20

In [14]:
def multyply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result
sample_list = [8, 2, 3, -1, 7]
result = multyply_list(sample_list)
print(f"the multiplication of the all number in list:{result}")

the multiplication of the all number in list:-336

In [16]:
def reverse_string(s):
    return s[::-1]

sample_string = "1234abcd"
reversed_string = reverse_string(sample_string)
print(f"this is the reversed string string:{reversed_string}")

this is the reversed string string:dcba4321

In [20]:
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers.")
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

number = 5
print(f"The factorial of {number} is: {factorial(number)}")

The factorial of 5 is: 120

In [2]:
def is_in_range(number, start, end):

    return start <= number <= end

print(is_in_range(5, 1, 10))  
print(is_in_range(15, 1, 10))

True
False

In [12]:
def count_case_letters(input_string):

    upper_count = sum(1 for char in input_string if char.isupper())
    lower_count = sum(1 for char in input_string if char.islower())

    return {"Upper case": upper_count, "Lower case": lower_count}

sample_string = 'The quick Brow Fox'
result = count_case_letters(sample_string)
print("No. of Upper case characters :", result["Upper case"])
print("No. of Lower case Characters :", result["Lower case"])

No. of Upper case characters : 3
No. of Lower case Characters : 12

In [10]:
def get_unique_elements_ordered(input_list):
   
    seen = set()
    unique_list = []
    for item in input_list:
        if item not in seen:
            unique_list.append(item)
            seen.add(item)
    return unique_list

unique_list_ordered = get_unique_elements_ordered(sample_list)
print("Unique List (Ordered):", unique_list_ordered)

NameError: name 'sample_list' is not defined

### FUNCTIONS ASSIGNMENT 2

In [15]:
def find_numbers():
   
    result = [str(num) for num in range(2000, 3201) if num % 7 == 0 and num % 5 != 0]
    return ", ".join(result)

output = find_numbers()
print(output)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [19]:
import math

def calculate_values():
  
    A = 50
    B = 30

    C_values = input("Enter comma-separated values for C: ").split(',')
    
    results = [
        str(round(math.sqrt((2 * A * B) / int(C))))
        for C in C_values
    ]
    
    return ", ".join(results)


output = calculate_values()
print(output)

Enter comma-separated values for C:  12,56,2

16, 7, 39

In [21]:
def sort_words():

    words = input("Enter a comma-separated sequence of words: ").split(',')

    sorted_words = sorted(words)

    return ", ".join(sorted_words)


output = sort_words()
print(output)

Enter a comma-separated sequence of words:  56,23,89

23, 56, 89

In [23]:
def capitalize_lines():

    print("Enter lines of text (press Enter twice to stop):")
    lines = []

    while True:
        line = input()
        if line.strip() == "":  
            break
        lines.append(line.upper())

    for line in lines:
        print(line)


capitalize_lines()

Enter lines of text (press Enter twice to stop):

 HELLO HASSAN
 KIA HAL CHAL HEI

HELLO HASSAN
KIA HAL CHAL HEI

In [25]:
def count_vowels():

    vowels = "aeiou"
    sentence = input("Enter a sentence: ").lower()

    vowel_counts = {vowel: sentence.count(vowel) for vowel in vowels}

    for vowel, count in vowel_counts.items():
        print(f"{vowel} appeared {count} time{'s' if count != 1 else ''}")


count_vowels()

Enter a sentence:  kia bahu

a appeared 2 times
e appeared 0 times
i appeared 1 time
o appeared 0 times
u appeared 1 time

In [27]:
def find_all_even_digit_numbers():

    even_digit_numbers = [
        num for num in range(1000, 3001)
        if all(int(digit) % 2 == 0 for digit in str(num))
    ]
    return even_digit_numbers

result = find_all_even_digit_numbers()
print(result)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

In [31]:
def find_divisible_by_5():

    binary_numbers = input("Enter comma-separated 4-digit binary numbers: ").split(',')

    divisible_by_5 = [
        binary for binary in binary_numbers
        if int(binary, 2) % 5 == 0
    ]
    print(", ".join(divisible_by_5))


find_divisible_by_5()

Enter comma-separated 4-digit binary numbers:  1001,000,001,0010

000

In [33]:
def count_letters_and_digits():
    
    sentence = input("Enter a sentence: ")

    letters = sum(1 for char in sentence if char.isalpha())  
    digits = sum(1 for char in sentence if char.isdigit())  

    print(f"LETTERS {letters}")
    print(f"DIGITS {digits}")

count_letters_and_digits()

Enter a sentence:  hassan sahab

LETTERS 11
DIGITS 0